// basic typography rules
h1, h2, h3, h4, h5, h6{
	font-family: $sans;
}
h3, h4{
	font-weight: normal;
}
h3{
	// font-size: 1.4rem;
}
p{
	font-size: 1rem;
	@media(min-width: $medium-up){
		font-size: 1.1rem;
	}
	@media(min-width: $large-up){
		font-size: 1.1rem;
	}
	@media(min-width: $xlarge-up){
		font-size: 1.2rem;
	}
}